<script setup lang="ts">
import Navbar from "@/components/Navbar.vue";
import ErrorAlert from "@/components/ErrorAlert.vue";
import PasswordInput from "@/components/PasswordInput.vue";
import { ArrowUpIcon, CheckCircleIcon, PencilIcon, XCircleIcon } from "@heroicons/vue/solid";
</script>

<template>
  <div>
    <navbar :is-fixed="true"/>
    <div class="container">
      <div class="row justify-content-md-center vh-100 align-items-center">
        <div class="col-lg-8 col-12">
          <error-alert :error="error"/>
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <strong>Mon compte</strong>
              <a v-if="!editing" href="#" class="ms-auto p-0 btn btn-link"
                 @click.prevent="toggleEditing('details')">
                <pencil-icon class="icon-width"/>
              </a>
            </div>
            <div class="card-body">
              <form @submit.prevent="updateUser" v-if="editing === 'details'">
                <div class="row">
                  <div class="col-lg-4 d-flex align-items-center">
                    <div class="d-flex mx-auto text-right">
                      <img
                          class="img-fluid rounded-circle" style="width: 10rem; height: 10rem"
                          :src="user?.profilePicture ? completeUserPP : 'https://images.unsplash.com/photo-1597589827317-4c6d6e0a90bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80'"
                          alt="...">
                      <input type="file" ref="file" class="visually-hidden" @change="handleFileUpload">
                      <button class="btn btn-sm btn-secondary rounded-pill position-absolute"
                              @click.prevent="triggerInput" style="margin-top: 8rem; margin-left: 7.5rem;">
                        <arrow-up-icon class="icon-width"/>
                      </button>
                    </div>
                  </div>
                  <div class="col-lg-8 border-lg-start d-flex align-items-center mt-3 mt-lg-0">
                    <div class="w-100">
                      <div class="form-group mt-2">
                        <label for="">Nom</label>
                        <input type="text" class="form-control" v-model="form.name">
                      </div>
                      <div class="form-group mt-2">
                        <label for="">Adresse mail</label>
                        <input type="email" class="form-control" v-model="form.email">
                      </div>
                      <div class="form-group mt-2">
                        <label for="">Poste</label>
                        <input type="text" class="form-control" v-model="form.role">
                      </div>
                      <div class="mt-3 d-flex">
                        <button @click.prevent="toggleEditing(null)" class="ms-auto btn btn-secondary">Annuler</button>
                        <button type="submit" class="ms-1 btn btn-primary">Enregistrer</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row" v-else-if="editing === 'password'">
                <div class="col-lg-4 d-flex align-items-center">
                  <img
                      class="img-fluid rounded-circle mx-auto" style="width: 10rem; height: 10rem"
                      :src="user?.profilePicture ? completeUserPP : 'https://images.unsplash.com/photo-1597589827317-4c6d6e0a90bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80'"
                      alt="...">
                </div>
                <div class="col-lg-8 border-lg-start d-flex align-items-center mt-3 mt-lg-0">
                  <form class="w-100" @submit.prevent="updateUserPassword">
                    <div class="form-group mt-2">
                      <label for="">Mot de passe actuel</label>
                      <password-input v-model:value="passwordForm.oldPassword"/>
                    </div>
                    <div class="form-group mt-2">
                      <label for="">Nouveau mot de passe</label>
                      <password-input v-model:value="passwordForm.newPassword"/>
                    </div>
                    <div class="mt-3 d-flex">
                      <button @click.prevent="toggleEditing(null)" class="ms-auto btn btn-secondary">Annuler</button>
                      <button type="submit" class="ms-1 btn btn-primary">Enregistrer</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="row" v-else>
                <div class="col-lg-4 d-flex align-items-center">
                  <img
                      class="img-fluid rounded-circle mx-auto" style="width: 10rem; height: 10rem"
                      :src="user?.profilePicture ? completeUserPP : 'https://images.unsplash.com/photo-1597589827317-4c6d6e0a90bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80'"
                      alt="...">
                </div>
                <div class="col-lg-8 border-lg-start d-flex align-items-center mt-3 mt-lg-0">
                  <table class="ms-2 table table-borderless">
                    <tbody>
                    <tr>
                      <th>Nom</th>
                      <td>{{ user?.name }}</td>
                    </tr>
                    <tr>
                      <th>Adresse mail</th>
                      <td>{{ user?.email }}</td>
                    </tr>
                    <tr>
                      <th>Poste</th>
                      <td>{{ user?.role }}</td>
                    </tr>
                    <tr>
                      <th>Mot de passe</th>
                      <td class="d-flex align-items-center">
                        ***********
                        <button href="#" class="ms-1 p-0 btn btn-link" @click.prevent="toggleEditing('password')">
                          <pencil-icon class="icon-width"/>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <th>Modérateur</th>
                      <td>
                        <check-circle-icon v-if="user?.moderator" class="text-success" style="width: 1.5rem"/>
                        <x-circle-icon v-else class="text-danger" style="width: 1.5rem"/>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { $fetch } from "ohmyfetch";
import { defineComponent } from "vue";
import type { User } from "@/index";

export default defineComponent({
  data() {
    return {
      error: <null | unknown>null,
      editing: <null | "details" | "password">null,
      session: null,
      showPass: false,
      file: <null | unknown>null,
      form: {
        name: "",
        email: "",
        role: "",
      },
      passwordForm: {
        oldPassword: "",
        newPassword: "",
      },
      user: <User>{},
    };
  },
  computed: {
    completeUserPP(): string {
      if (this.user.profilePicture.startsWith("data")) {
        return this.user.profilePicture;
      } else {
        return `${import.meta.env.VITE_API_HOST}/public/${this.user.profilePicture}`;
      }
    },
  },
  methods: {
    triggerInput(): void {
      (<any>this.$refs.file).click();
    },
    toggleEditing(newState: null | "details" | "password"): void {
      this.editing = newState;
    },
    handleFileUpload(): void {
      this.file = (<any>this.$refs.file).files[0];
      const reader = new FileReader();
      reader.readAsDataURL(<Blob>this.file);
      reader.onload = el => {
        this.user.profilePicture = String(el.target?.result);
      };
    },
    async getUser(): Promise<void> {
      this.user = await $fetch(`${import.meta.env.VITE_API_HOST}/api/users/${this.$store.state.user.id}`, {
        headers: this.$store.getters.getAuthorizationHeader,
      });
    },
    async updateUser(): Promise<void> {
      try {
        this.user = await $fetch(`${import.meta.env.VITE_API_HOST}/api/users/${this.$store.state.user.id}`, {
          method: "PUT",
          headers: this.$store.getters.getAuthorizationHeader,
          body: { ...this.form },
        });
        if (this.file) {
          const formData = new FormData();
          formData.append("file", <Blob>this.file);
          const request = new XMLHttpRequest();
          request.open("POST", `${import.meta.env.VITE_API_HOST}/api/users/${this.$store.state.user.id}/pp`);
          request.setRequestHeader("authorization", this.$store.getters.getAuthorizationHeader.authorization);
          request.send(formData);
          request.onload = async () => {
            await this.getUser();
          };
        }
        this.toggleEditing(null);
      } catch (err) {
        this.error = err;
      }
    },
    async updateUserPassword(): Promise<void> {
      try {
        await $fetch(`${import.meta.env.VITE_API_HOST}/api/users/${this.$store.state.user.id}/password`, {
          method: "POST",
          headers: this.$store.getters.getAuthorizationHeader,
          body: { ...this.passwordForm },
        });
        this.toggleEditing(null);
      } catch (err) {
        this.error = err;
      }
    },
  },
  beforeCreate(): void {
    this.$store.commit("initializeStore");
    if (this.$store.state.token === "") {
      this.$router.push("/login");
    }
  },
  async mounted(): Promise<void> {
    await this.getUser();
    this.form = { ...this.user };
  },
});
</script>

<style scoped>
.icon-width {
  width: 1.25rem;
}
</style>
