<script setup lang="ts">
import Navbar from "@/components/Navbar.vue";
import PostComponent from "@/components/Post.vue";
import PostPlaceholder from "@/components/PostPlaceholder.vue";
</script>

<template>
  <div>
    <navbar/>
    <div class="container mt-3">
      <div class="card shadow mb-3" v-if="!loading">
        <div class="card-header">
          Nouveau message
        </div>
        <div class="card-body">
          <textarea class="form-control" rows="10" v-model="newPost" placeholder="Écrire un message..."></textarea>
          <div class="d-flex align-items-center mt-2">
            <span class="ms-auto">{{ newPost.length }} / 10</span>
            <button class="ms-2 btn btn-primary" :disabled="newPost.length < 10" @click.prevent="createPost">
              Poster
            </button>
          </div>
        </div>
      </div>
      <div class="card shadow mb-3" v-else>
        <div class="card-header placeholder-glow">
          <span class="placeholder col-5"></span>
        </div>
        <div class="card-body placeholder-glow">
          <span class="placeholder col-7"></span><span class="placeholder col-4 ms-1"></span>
          <span class="placeholder col-3"></span><span class="placeholder col-6 ms-1"></span>
          <span class="placeholder col-4"></span><span class="placeholder col-6 ms-1"></span>
          <span class="placeholder col-7"></span><span class="placeholder col-4 ms-1"></span>
          <span class="placeholder col-4"></span><span class="placeholder col-6 ms-1"></span>
          <span class="placeholder col-3"></span><span class="placeholder col-6 ms-1"></span>
          <div class="d-flex align-items-center mt-2">
            <span class="ms-auto w-25"><span class="ms-auto placeholder col-11"></span></span>
            <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-1"></a>
          </div>
        </div>
      </div>
      <div v-if="!loading" v-for="post in posts">
        <post-component :post="post"/>
      </div>
      <div v-else v-for="_ in 3">
        <post-placeholder/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { $fetch } from "ohmyfetch";
import type { Post } from "@/index";

export default defineComponent({
  data() {
    return {
      newPost: "",
      posts: <Post[]>[],
      loading: true,
    };
  },
  methods: {
    async getPosts() {
      this.posts = await $fetch(`${import.meta.env.VITE_API_HOST}/api/posts`, {
        headers: this.$store.getters.getAuthorizationHeader,
      });
    },
    async createPost() {
      this.posts.unshift(
          await $fetch(`${import.meta.env.VITE_API_HOST}/api/posts`, {
            method: "POST",
            headers: this.$store.getters.getAuthorizationHeader,
            body: {
              content: this.newPost,
              authorId: this.$store.state.user.id,
            },
          }),
      );
      this.newPost = "";
    },
  },
  beforeCreate() {
    this.$store.commit("initializeStore");
    if (this.$store.state.token === "") {
      this.$router.push("/login");
    }
  },
  async mounted() {
    await this.getPosts();
    this.loading = false;
  },
});
</script>
