<script setup lang="ts">
import { RouterLink } from "vue-router";
import Navbar from "@/components/Navbar.vue";
import ErrorAlert from "@/components/ErrorAlert.vue";
import PasswordInput from "@/components/PasswordInput.vue";
</script>

<template>
  <div>
    <navbar :is-fixed="true"/>
    <div class="container">
      <div class="row justify-content-md-center vh-100 align-items-center">
        <div class="col-md-8 col-12">
          <error-alert :error="error"/>
          <div class="card">
            <div class="card-header">
              <strong>Connexion</strong>
            </div>
            <div class="card-body">
              <form @submit.prevent="login">
                <div class="form-group mt-2">
                  <label for="">Adresse mail</label>
                  <input type="email" class="form-control" v-model="form.email">
                </div>
                <div class="form-group mt-2">
                  <label for="">Mot de passe</label>
                  <password-input v-model:value="form.password"/>
                </div>
                <div class="mt-3 d-flex">
                  <button type="submit" class="btn btn-primary">Connexion</button>
                  <router-link to="/register" class="ms-1 btn btn-secondary">Créer un compte</router-link>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { $fetch } from "ohmyfetch";

export default defineComponent({
  data() {
    return {
      error: <null | unknown>null,
      form: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    async login() {
      try {
        const resp = await $fetch(`${import.meta.env.VITE_API_HOST}/api/auth/login`, {
          method: "POST",
          body: { ...this.form },
        });
        this.$store.commit("setToken", resp.token);
        this.$router.push("/");
      } catch (err) {
        this.error = err;
      }
    },
  },
  beforeCreate() {
    this.$store.commit("initializeStore");
    if (this.$store.state.token !== "") {
      this.$router.push("/");
    }
  },
});
</script>
