<script setup lang="ts">
import Navbar from "@/components/Navbar.vue";
import PostComponent from "@/components/Post.vue";
import PostPlaceholder from "@/components/PostPlaceholder.vue";
// import { RouterLink } from "vue-router";
// import { ChevronLeftIcon } from "@heroicons/vue/solid";
import { ChevronDoubleRightIcon } from "@heroicons/vue/solid";
</script>

<template>
  <div>
    <navbar/>
    <div class="container mt-3">
      <!--      <div class="d-flex mb-2">-->
      <!--        <router-link to="/" class="btn btn-secondary d-flex align-items-center ps-1">-->
      <!--          <chevron-left-icon style="width: 1.8rem"/> <span class="ms-1">Retour</span>-->
      <!--        </router-link>-->
      <!--      </div>-->
      <post-component v-if="!loading" :post="post" :is-comment="false" :with-comments="true"/>
      <post-placeholder v-else/>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { $fetch } from "ohmyfetch";
import type { Post } from "@/index";

export default defineComponent({
  data() {
    return {
      newComment: "",
      post: <Post>{},
      loading: true,
    };
  },
  methods: {
    async getPost(): Promise<void> {
      this.post = await $fetch(`${import.meta.env.VITE_API_HOST}/api/posts/${this.$route.params.id}`, {
        headers: this.$store.getters.getAuthorizationHeader,
      });
    },
  },
  beforeCreate(): void {
    this.$store.commit("initializeStore");
    if (this.$store.state.token === "") {
      this.$router.push("/login");
    }
  },
  async mounted(): Promise<void> {
    await this.getPost();
    this.loading = false;
  },
});
</script>
