<script setup lang="ts">
import { ExclamationIcon } from "@heroicons/vue/solid";
</script>

<template>
  <div v-if="error" class="alert alert-danger alert-dismissible fade show" role="alert">
    <exclamation-icon style="width: 1.8rem"/>
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import type { PropType } from "vue";

export default defineComponent({
  props: {
    error: {
      type: Object as PropType<null | any>,
      required: false,
    },
  },
  data() {
    return {
      message: "",
    };
  },
  updated() {
    if (this.error) {
      if (this.error.message.startsWith("401")) {
        this.message = "Identifiant ou mot de passe invalide.";
      } else if (this.error.message.startsWith("403")) {
        this.message = "Accès refusé.";
      } else if (this.error.message.startsWith("500")) {
        this.message = "Erreur serveur.";
      } else {
        this.message = this.error.message.split("(")[0];
      }
    }
  },
});
</script>
