<template>
  <nav class="navbar navbar-expand-lg bg-light" :class="isFixed ? 'fixed-top' : ''">
    <div class="container-fluid">
      <router-link class="d-flex d-lg-none navbar-brand" to="/"><img style="width: 2rem" class="img-fluid"
                                                                     src="@/assets/logo-no-background.png" alt="...">
        <h3 class="m-0 ms-2">Groupomania</h3></router-link>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" v-if="isUser">
            <router-link class="nav-link active d-flex align-items-center" to="/account">
              <img
                  class="img-fluid rounded-circle" style="width: 1.8rem"
                  :src="user.profilePicture ? completeUserPP : 'https://images.unsplash.com/photo-1597589827317-4c6d6e0a90bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80'"
                  alt="...">
              <span class="ms-2">{{ user.name }}</span>
            </router-link>
          </li>
        </ul>
        <router-link class="d-none d-lg-flex align-items-center navbar-brand me-auto" to="/"><img style="width: 2rem"
                                                                                                  class="img-fluid"
                                                                                                  src="@/assets/logo-no-background.png"
                                                                                                  alt="...">
          <h3 class="m-0 ms-2">Groupomania</h3></router-link>
        <button v-if="isUser" class="btn btn-sm btn-danger" @click.prevent="disconnect">Se déconnecter</button>
        <router-link v-else class="btn btn-sm btn-primary" to="login">Se connecter</router-link>
      </div>
    </div>
  </nav>
</template>

<script setup lang="ts">
import { RouterLink } from "vue-router";
</script>

<script lang="ts">
import { defineComponent } from "vue";
import type { User } from "@/index";
import { $fetch } from "ohmyfetch";

export default defineComponent({
  props: {
    isFixed: Boolean,
  },
  data() {
    return {
      user: <User>{},
    };
  },
  computed: {
    isUser(): boolean {
      return Object.keys(this.user).length !== 0;
    },
    completeUserPP(): string {
      return `${import.meta.env.VITE_API_HOST}/public/${this.user.profilePicture}`;
    },
  },
  methods: {
    async disconnect(): Promise<void> {
      this.$store.commit("deleteToken");
      this.$router.push("/login");
    },
    async getUser(): Promise<void> {
      if (this.$store.state.token !== "") {
        this.user = await $fetch(`${import.meta.env.VITE_API_HOST}/api/users/${this.$store.state.user.id}`, {
          headers: this.$store.getters.getAuthorizationHeader,
        });
      }
    },
  },
  async mounted() {
    await this.getUser();
  },
});
</script>
