<script setup lang="ts">
import { EyeIcon, EyeOffIcon } from "@heroicons/vue/solid";
</script>

<template>
  <div class="input-group">
    <input :type="showPass ? 'text' : 'password'" class="form-control" v-model="content" @input="handleInput">
    <a href="#" class="input-group-text" @click.prevent="toggleShowPass">
      <eye-icon v-if="!showPass" style="width: 1rem"/>
      <eye-off-icon v-else style="width: 1rem"/>
    </a>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    value: { type: String, required: true },
  },
  data() {
    return {
      content: this.value,
      showPass: false,
    };
  },
  methods: {
    toggleShowPass() {
      this.showPass = !this.showPass;
    },
    handleInput() {
      this.$emit("update:value", this.content);
    },
  },
});
</script>