<template>
  <div class="card shadow mb-3">
    <div class="card-header d-flex align-items-center">
      <div style="width: 2rem; height: 2rem;" class="placeholder-glow">
        <svg class="bd-placeholder-img img-fluid rounded-circle" width="2rem" height="2rem"
             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice"
             focusable="false"><title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
        </svg>
      </div>
      <div class="ms-3 w-50 placeholder-glow d-flex align-items-center">
        <span class="placeholder col-5"></span> <span class="ms-1 placeholder col-4"></span>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4 ms-1"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6 ms-1"></span>
        <span class="placeholder col-3"></span>
        <span class="placeholder col-6 ms-1"></span>
      </p>
      <small class="placeholder-glow">
        <span class="placeholder col-2"></span> <span class="ms-1 placeholder col-2"></span>
      </small>
    </div>
  </div>
</template>