<script setup lang="ts">
import { RouterLink } from "vue-router";
import { ChevronDoubleRightIcon } from "@heroicons/vue/solid";
</script>

<template>
  <div>
    <div v-if="!deleted" class="card mb-3" :class="isComment ? '' : 'shadow'">
      <div class="card-header d-flex align-items-center">
        <div style="width: 2rem">
          <img
              :src="post.author.profilePicture ? completeAuthorPP : 'https://images.unsplash.com/photo-1597589827317-4c6d6e0a90bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80'"
              class="img-fluid rounded-circle" alt="...">
        </div>
        <div class="ms-3">
          {{ post.author.name }} - <em>{{ post.author.role }}</em>
        </div>
        <div class="ms-auto">
          <a v-if="!editing && user.id === post.author.id" href="#" class="p-0 btn btn-link text-warning"
             @click.prevent="changeState">
            <pencil-icon class="icon-width"/>
          </a>
        </div>
        <div class="ms-2">
          <button v-if="!editing && (user.id === post.author.id || user.moderator )"
                  class="p-0 btn btn-link text-danger"
                  data-bs-toggle="modal" :data-bs-target="`#post-modal-${post.id}`">
            <x-circle-icon class="icon-width"/>
          </button>
        </div>
      </div>
      <div v-if="editing" class="card-body">
        <textarea class="form-control" rows="8" v-model="post.content"></textarea>
        <div class="d-flex align-items-center mt-2">
          <span class="text-muted">{{ formattedDate }} – {{ likesNumber }} like(s)</span>
          <span class="ms-auto">{{ post.content.length }} / 10</span>
          <button class="ms-2 btn btn-sm btn-primary" @click="updateContent" :disabled="post.content.length < 10">
            Enregistrer
          </button>
        </div>
      </div>
      <div v-else class="card-body pb-1">
        <p class="card-text" v-for="postContentPart in post.content.split('\n')">{{ postContentPart }}</p>
        <small class="text-muted d-flex align-items-center">
          <span>
            {{ formattedDate }} – {{ likesNumber }}
          </span>
          <button class="p-0 pb-1 ms-1 btn btn-link text-decoration-none"
                  v-if="!post.likes.find(like => like.userId === user.id)"
                  @click.prevent="createLike">
            <outline-thumb-up style="width: 1rem"/>
          </button>
          <button class="p-0 pb-1 ms-1 btn btn-link text-decoration-none" v-else
                  @click.prevent="deleteLike">
            <plain-thumb-up style="width: 1rem"/>
          </button>
          <span class="ms-auto" v-if="post.comments">
            <router-link class="text-decoration-none text-decoration-hu text-muted"
                         :to="`/posts/${post.id}`">{{ commentsNumber }} commentaire(s)</router-link>
          </span>
        </small>
        <div v-if="withComments && !isComment">
          <hr>
          <form class="mb-3" @submit.prevent="createComment">
            <div class="d-flex align-items-center">
              <textarea rows="3" class="form-control" placeholder="Commenter..." v-model="newComment"></textarea>
              <div class="ms-2">
                <p class="text-center mb-2">{{ newComment.length }} / 10</p>
                <button type="submit" class="btn btn-primary" :disabled="newComment.length < 10">
                  <chevron-double-right-icon style="width: 1.8rem"/>
                </button>
              </div>
            </div>
          </form>
          <post v-for="comment in comments" :post="comment" :is-comment="true" :with-comments="false"/>
        </div>
        <img v-if="post.image" :src="post.image" class="card-img-bottom" alt="...">
      </div>

      <!-- Modal -->
      <div class="modal fade" :id="`post-modal-${post.id}`" tabindex="-1"
           :aria-labelledby="`#post-modal-label-${post.id}`" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" :id="`#post-modal-label-${post.id}`">
                Voulez-vous vraiment supprimer ce post ?
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
              <p v-for="postContentPart in post.content.split('\n')">{{ postContentPart }}</p>
              <small class="text-muted">
                {{ formattedDate }} – {{ likesNumber }} like(s)
              </small>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @click.prevent="deletePost">Confirmer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { PencilIcon, ThumbUpIcon as PlainThumbUp, XCircleIcon } from "@heroicons/vue/solid";
import { ThumbUpIcon as OutlineThumbUp } from "@heroicons/vue/outline";
import { $fetch } from "ohmyfetch";
import { defineComponent } from "vue";
import type { Post, Like } from "@/index";
import type { PropType } from "vue";

export default defineComponent({
  components: { PencilIcon, XCircleIcon, PlainThumbUp, OutlineThumbUp },
  props: {
    post: {
      type: Object as PropType<Post>,
      required: true,
    },
    withComments: {
      type: Boolean,
      required: false,
    },
    isComment: {
      type: Boolean,
      required: false,
    },
  },
  data() {
    return {
      editing: false,
      deleted: false,
      newComment: "",
      comments: <Post[]>{},
    };
  },
  computed: {
    formattedDate() {
      return (new Date(this.post.datetime)).toLocaleString();
    },
    likesNumber() {
      return this.post.likes.length;
    },
    commentsNumber() {
      return this.post.comments?.length;
    },
    completeAuthorPP() {
      return `${import.meta.env.VITE_API_HOST}/public/${this.post.author.profilePicture}`;
    },
    user() {
      return this.$store.state.user;
    },
  },
  methods: {
    changeState() {
      this.editing = !this.editing;
    },
    async updateContent() {
      await $fetch(`${import.meta.env.VITE_API_HOST}/api/posts/${this.post.id}`, {
        method: "PUT",
        headers: this.$store.getters.getAuthorizationHeader,
        body: { content: this.post.content },
      });
      this.changeState();
    },
    async createLike() {
      const ans = await $fetch(`${import.meta.env.VITE_API_HOST}/api/posts/${this.post.id}/likes`, {
        method: "POST",
        headers: this.$store.getters.getAuthorizationHeader,
        body: { userId: this.user.id },
      });
      this.post.likes.push(ans);
    },
    async deleteLike() {
      await $fetch(`${import.meta.env.VITE_API_HOST}/api/posts/${this.post.id}/likes/${this.user.id}`, {
        method: "DELETE",
        headers: this.$store.getters.getAuthorizationHeader,
      });
      this.post.likes = this.post.likes.filter((like: Like) => like.userId !== this.user.id);
    },
    async deletePost() {
      await $fetch(`${import.meta.env.VITE_API_HOST}/api/posts/${this.post.id}`, {
        method: "DELETE",
        headers: this.$store.getters.getAuthorizationHeader,
      });
      this.deleted = true;
      if (!this.isComment) {
        this.$router.push("/");
      }
    },
    async getComments(): Promise<void> {
      this.comments = await $fetch(`${import.meta.env.VITE_API_HOST}/api/posts/${this.post.id}/comments`, {
        headers: this.$store.getters.getAuthorizationHeader,
      });
    },
    async createComment(): Promise<void> {
      const newComment = await $fetch(`${import.meta.env.VITE_API_HOST}/api/posts`, {
        method: "POST",
        headers: this.$store.getters.getAuthorizationHeader,
        body: {
          content: this.newComment,
          authorId: this.$store.state.user.id,
          commentToId: this.post.id,
        },
      });
      this.comments.unshift(newComment);
      (<Post[]>this.post.comments).unshift(newComment);
      this.newComment = "";
    },
  },
  async mounted() {
    if (this.withComments) {
      await this.getComments();
    }
  },
});
</script>

<style scoped>
.icon-width {
  width: 1.25rem;
}

.text-decoration-hu:hover {
  text-decoration: underline !important;
}
</style>
